In [52]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [53]:
data_train = pd.read_csv('titanic\\train.csv')
data_test = pd.read_csv('titanic\\test.csv')

In [75]:
#data_train.head(10)
data_test.head(10)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",1,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",0,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",1,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",1,21.0,2,0,A/4 48871,24.1500,NaN,S

In [55]:
from sklearn.impute import SimpleImputer
imp1 = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp1.fit(data_train[["Age"]])
data_train["Age"] = imp1.transform(data_train[["Age"]])

imp2 = SimpleImputer(missing_values = 0.0, strategy = 'mean')
imp2.fit(data_train[['Fare']])
data_train['Fare'] = imp2.transform(data_train[['Fare']])

from sklearn.preprocessing import LabelEncoder
label_encoder1= LabelEncoder()
data_train['Sex'] = label_encoder.fit_transform(data_train['Sex'])

In [59]:
imp3 = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp3.fit(data_test[["Age"]])
data_test["Age"] = imp3.transform(data_test[["Age"]])

imp4 = SimpleImputer(missing_values = np.nan, strategy = 'mean')
imp4.fit(data_test[['Fare']])
data_test['Fare'] = imp4.transform(data_test[['Fare']])

label_encoder2= LabelEncoder()
data_test['Sex'] = label_encoder2.fit_transform(data_test['Sex'])

In [63]:
X_train = data_train.iloc[:, [2,4,5,6,7]].values
Y_train = data_train.iloc[:,9].values

In [64]:
X_test = data_test.iloc[:, [1,3,4,5,6]]
Y_test = data_test.iloc[:,8].values

In [65]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor(random_state = 0)
reg.fit(X_train, Y_train)

DecisionTreeRegressor(random_state=0)

In [66]:
Y_pred = reg.predict(X_test)

In [72]:
from sklearn.metrics import confusion_matrix
print(np.sqrt(mse(Y_test, Y_pred)))

41.211698795430976

In [86]:
x_train = data_train.iloc[:,[2,4,5,6,7,9]].values
y_train = data_train.iloc[:,1].values

In [87]:
x_test = data_test.iloc[:,[1,3,4,5,6,8]]

In [88]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
x_train = sc_X.fit_transform(x_train)
x_test = sc_X.transform(x_test)

In [92]:
from sklearn.neighbors import KNeighborsClassifier
clsf = KNeighborsClassifier()
clsf.fit(x_train, y_train)

KNeighborsClassifier()

In [95]:
y_pred = clsf.predict(x_test)